<section>
  <div ng-show="poll">
    <h2>{{ poll.title }}</h2>
    <h5>{{ poll.createDate }}</h5>
    <table>
      <thead>
        <tr>
          <th>Options</th>
          <th>Votes</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="option in poll.options">
          <td>{{ option.option }}</td>
          <td>{{ option.votes }}</td>
          <td>
            <button type="button" ng-click="vote($index)">Vote</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
