<section>
  my polls templates

  <input type="text" placeholder"Search my polls" ng-model="query"
         ng-change="search()">
  <div ng-show="searching">
    <button type="button" ng-click="empty()">&times;</button>
    <button type="button" ng-click="search(false)">More result</button>
  </div>

  <table ng-show="polls.length">
    <thead>
      <tr>
        <th>Title</th>
        <th>Votes</th>
        <th>Date</th>
        <th>Action</th>
      </tr>
    </thead>
    <tr ng-repeat="poll in polls">
      <td><a ng-href="/poll/{{ poll._id }}">{{ poll.title }}</a></td>
      <td>{{ poll.voters.length }}</td>
      <td>{{ poll.createDate }} </td>
      <td>
        <button type="button" ng-click="delete(poll._id)">Delete</button>
      </td>
    </tr>
  </table>

  <button ng-hide="searching" type="button" ng-click="loadMyPolls()">More</button>
</section>
