<section>
  <h2>My Polls</h2>

  <form ng-submit="search(true)" class="search">
    <fieldset ng-disabled="pend">
      <div class="flexbox">
        <div class="flexbox-stretch">
          <input type="text" placeholder="Search own polls" ng-model="query">
        </div>
        <div class="flexbox-normal">
          <button type="submit"></button>
          <button type="button" ng-click="empty()" ng-show="searching">
            &times;
          </button>
        </div>
      </div>
    </fieldset>
  </form>

  <vote-poll-list more="more()" polls="polls" act="true" done="done"
                  delete="delete(id)" pend="pend"></vote-poll-list>
</section>
