<header class="row group primary-header">
  <h1 class="logo">
    <a href="/">Happy Voting</a>
  </h1>

  <div class="menu">
    <nav ng-hide="user.data">
      <input type="checkbox" id="login-nav-state" class="nav-state">
      <label class="nav-toggle" for="login-nav-state">
        <span class="nav-toggle-text">Login</span>
      </label>
      <ul class="nav primary-nav login-nav">
        <li>
          <a href="/auth/facebook" target="_self" class="facebook-login login-link">
            Facebook
          </a>
        </li>
        <li>
          <a href="/auth/twitter" target="_self" class="twitter-login login-link">
            Twitter
          </a>
        </li>
        <li>
          <a href="/auth/github" target="_self" class="github-login login-link">
            Github
          </a>
        </li>
      </ul>
    </nav>
  
    <nav ng-show="user.data">
      <input id="user-nav-state" type="checkbox" class="nav-state">
      <label class="nav-toggle" for="user-nav-state">
        <img ng-src="{{ user.data.picture }}" class="nav-toggle-image">
        <span class="nav-toggle-text" ng-bind="user.data.name"></span>
      </label>
      <ul class="nav primary-nav">
        <li>
          <a href="/my_polls">My Polls</a>
        </li>
        <li>
          <a href="/create_poll">Create Poll</a>
        </li>
        <li>
          <a href="" ng-click="logout()">Logout</a>
        </li>
      </ul>
    </nav>
  </div>

  <form ng-submit="search()" class="search primary-search">
    <div class="flexbox">
      <div class="flexbox-stretch">
        <input type="text" placeholder="Search" ng-model="query">
      </div>
      <div class="flexbox-normal">
        <button type="submit"></button>
      </div>
  </form>

</header>
