<section class="row">
  <h2>Create Poll</h2>

  <form ng-submit="create()" novalidate class="form-create-poll">
    <fieldset class="row">
      <div class="col-1-6">
        <label for="create-title">Title</label>
      </div>
      <div class="col-3-6">
        <input type="text" placeholder="Title" ng-model="title" vote-focus
          maxlength="{{ maxTitleLen }}" id="create-title">
      </div>
    </fieldset>
    <fieldset class="row" ng-repeat="option in options">
      <div class="col-1-6">
        <label for="create-option-{{$index}}">
          Option&nbsp;<span ng-bind="$index + 1"></span>
        </label>
      </div>
      <div class="col-3-6">
        <input type="text" maxlength="{{ maxOptLen }}" vote-focus 
              id="create-option-{{$index}}"
              ng-model="option.option" placeholder="Option {{$index + 1}}">
      </div>
      <div class="col-2-6">
        <div class="flexbox">
          <div class="flexbox-stretch">
            <button class="btn btn-block btn-sym" type="button" ng-click="removeOption($index)"> &times; </button>
          </div>
          <div class="flexbox-stretch">
            <button class="btn btn-block btn-sym" type="button" ng-click="addOption($index)"
                    ng-disabled="options.length >= 10"> &plus; </button>
          </div>
          <div class="flexbox-stretch">
            <button class="btn btn-block btn-sym" type="button" ng-click="up($index)" ng-disabled="$index == 0"> &#9650; </button>
          </div>
          <div class="flexbox-stretch">
        <button class="btn btn-block btn-sym" type="button" ng-click="down($index)" ng-disabled="$index >= options.length - 1"> &#9660; </button>
          </div>
        </div>
      </div>
    </fieldset>
    <fieldset class="row">
      <div class="flexbox">
        <div class="flexbox-stretch">
          <button class="btn btn-block" type="submit">Create</button>
        </div>
        <div class="flexbox-stretch">
          <button class="btn btn-block" type="button" ng-click="reset()">Reset</button>
        </div>
        <div class="flexbox-stretch">
          <button class="btn btn-block" type="button" ng-click="addOption()"
                  ng-disabled="options.length >= 10">
              More Options
          </button>
        </div>
      </div>
    </fieldset>
  </form>
</section>
