<header>
  <h1>
    <a href="/">A Voting App</a>
  </h1>

  <form ng-submit="search()">
    <input type="text" placeholder="Search for polls" ng-model="query">
    <button type="submit">Search</button>
  </form>

  <nav ng-hide="user.data">
    <ul>
      <li>
        <a href="/auth/facebook" target="_self">Login With Facebook</a>
      </li>
      <li>
        <a href="/auth/twitter" target="_self">Login With Twitter</a>
      </li>
      <li>
        <a href="/auth/github" target="_self">Login With Github</a>
      </li>
    </ul>
  </nav>
  
  <nav ng-show="user.data">
    <img ng-src="{{ user.data.picture }}">
    <span ng-bind="user.data.name"></span>
    <ul>
      <li>
        <a href="/my_polls">My Polls</a>
      </li>
      <li>
        <a href="/create_poll">Create Poll</a>
      </li>
      <li>
        <a href="" ng-click="logout()">Logout</a>
      </li>
    </ul>
  </nav>

</header>
