<section>
  <table ng-show="polls.length">
    <thead>
      <tr>
        <th>Title</th>
        <th>Votes</th>
        <th>Date</th>
      </tr>
    </thead>

    <tbody>
      <tr ng-repeat="poll in polls">
        <td><a ng-href="/poll/{{ poll._id }}">{{ poll.title }}</a></td>
        <td>{{ poll.voters.length }}</td>
        <td>{{ poll.createDate }}</td>
      </tr>
    </tbody>
  </table>
  <button type="button" ng-click="search()">More</button>

  <p ng-hide="polls.length || !done">
    No result for {{ query }}
  </p>
</section>
