/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* 
 *****************************************
 * Custom Styles
 *****************************************
 */
body {
  background-color: #eee;
  color: #333;
  font: 400 18px/1.5 "Lato", "Open Sans", Helvetica, Arial, sans-serif;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

/*
 *****************************************
 * Clearfix
 *****************************************
 */
.group {
  clear: both;
  *zoom: 1;
}

.group:before,
.group:after {
  content: "";
  display: table;
}

.group:after {
  clear: both;
}

/*
 *****************************************
 * Grid
 *****************************************
 */
.container {
  margin: 0 auto;
  max-width: 900px;
}

.row {
  padding-top: 22px;
  padding-bottom: 22px;
}

.row,
.col-1-6,
.col-2-6,
.col-3-6,
.col-4-6,
.col-5-6 {
  padding-left: 11px;
  padding-right: 11px;
}

.col-1-6,
.col-2-6,
.col-3-6,
.col-4-6,
.col-5-6 {
  display: inline-block;
  vertical-align: top;
}

.col-1-6 {
  width: 16.666666%
}

.col-2-6 {
  width: 33.333333%
}

.col-3-6 {
  width: 50%;
}

.col-4-6 {
  width: 66.666666%;
}

.col-5-6 {
  width: 83.333333%;
}
/*
 *****************************************
 * Typography
 *****************************************
 */
h1 {
  font-size: 40px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 23px;
}

h4 {
  font-weight: 500;
  font-size: 21px;
}

h5 {
  color: #666;
  font-weight: 500;
  font-size: 14px;
}

strong {
  font-weight: 700px;
}

small {
  font-size: 12px;
  font-weight: 500;
}

em,
cite {
  font-style: italic;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin-bottom: 22px;
}

/*
 *****************************************
 * Links
 *****************************************
 */
a:visited,
a:link {
  color: #2c8ce0;
  text-decoration: none;
  display: block;
}

a:hover {
  color: #2db34a;
}

/*
 *****************************************
 * Header
 *****************************************
 */
.primary-header {
  border-bottom: 1px solid #666;
  box-shadow: 0 0 5px #666;
  background: #ccc;
  border-radius: 0 0 5px 5px;
}

.logo {
  font-weight: bold;
  letter-spacing: .5px;
  text-transform: uppercase;
  box-shadow: 0 0 5px #999;
  border-left: 11px solid #999;
  float: left;
  padding: 0 11px;
  margin: 0 11px;
}

.menu {
  float: right;
  padding: 0 11px;
  text-align: right;
  vertical-align: top;
}

.nav-toggle {
  display: block;
}

.nav-state {
  display: none;
}

.primary-nav {
  display: none;
}

.nav-state:checked + .primary-nav {
  display: block;
}

/*
 *****************************************
 * Search Box
 *****************************************
 */
.primary-search {
  overflow: hidden;
  min-width: 100px;
  height: 60px;
  margin: 0 11px;
}

.primary-search input {
  font: 22px/60px "Lato", "Open Sans", Helvetica, Arial, sans-serif;
  padding: 0 11px;
  display: inline-block;
  width: 70%;
  height: 100%;
  transition: width .2s ease-in-out;
  background: transparent;
  border-width: 0 0 5px 0;
  border-style: solid;
  border-color: #666;
  color: #666;
}

.primary-search input:focus {
  width: 100%;
}

.primary-search button {
  padding: 0 11px;
  height: 100%;
  display: inline-block;
}

