/*
 *****************************************
 * Inputs
 *****************************************
 */
[type="text"] {
  background: transparent;
  border-color: #666;
  border-style: solid;
  border-width: 0 0 1px 0;
  color: #333;
  display: inline-block;
  font: 18px/1.5 "Lato", "Open Sans", Helvetica, Arial, sans-serif;
  height: 100%;
  padding: 0 11px;
  transition: all .2s ease-in-out;
}

[type="text"]:focus {
  border-bottom: 1px solid #2c8ce0;
  box-shadow: 0 1px 5px #2c8ce0;
}

input {
  display: block;
  margin-bottom: 22px;
}

input,
button {
  outline: 0;
}

.search {
  background: #ddd;
  border-radius: 10px;
  box-shadow: 0 1px 1px rgba(0,0,0,.4) inset, 0 1px 0 rgba(255, 255, 255, .2);
  padding: 11px;
  transition: all 1s ease-out;
}

.search:hover {
  background: #fff;
}

.search [type="text"] {
  height: 100%;
  width: 100%;
  vertical-align: top;
  display: inline-block;
}

.search [type="submit"] {
  background: transparent url("/images/search.png") 0 0 no-repeat;
  background-size: contain;
  margin: 0;
  border: 0;
  width: 50px;
  height: 100%;
  display: inline-block;
  padding: 0;
  vertical-align: top;
  border-radius: 10px;
  cursor: pointer;
  transition: all .5s ease-out;
}

.search [type="submit"]:hover {
  transform: rotate(90deg);
}

::placeholder {
  color: #888;
  font-style: italic;
}
