.form-create-poll {
  border: 1px solid #888;
  border-radius: 11px;
}

.form-create-poll fieldset:nth-child(even) {
  background: #ddd;
}

.form-create-poll input {
  width: 100%;
  margin: 0;
  padding: 0;
}

.form-create-poll label {
  display: block;
}

@media (min-width: 769px) {
  .form-create-poll label {
    text-align: right;
  }
}
