/*
 *****************************************
 * Grid
 *****************************************
 */
.container {
  margin: 0 auto;
  max-width: 960px;
}

.row {
  padding-top: 11px;
  padding-bottom: 11px;
}

.row,
.col-1-6,
.col-2-6,
.col-3-6,
.col-4-6,
.col-5-6 {
  padding-left: 11px;
  padding-right: 11px;
}

@media (max-width: 768px) {
  .col-1-6,
  .col-2-6,
  .col-3-6,
  .col-4-6,
  .col-5-6 {
    padding-bottom: 22px;
  }
  .col-1-6:last-child,
  .col-2-6:last-child,
  .col-3-6:last-child,
  .col-4-6:last-child,
  .col-5-6:last-child {
    padding-bottom: 0;
  }
}
  
@media (min-width: 769px) {
  .col-1-6,
  .col-2-6,
  .col-3-6,
  .col-4-6,
  .col-5-6 {
    display: inline-block;
    vertical-align: top;
  }

  .col-1-6 {
    width: 16.666666%
  }

  .col-2-6 {
    width: 33.333333%
  }

  .col-3-6 {
    width: 50%;
  }

  .col-4-6 {
    width: 66.666666%;
  }

  .col-5-6 {
    width: 83.333333%;
  }
}

.flexbox {
  display: flex;
}

.flexbox-normal {
  flex: 0;
}

.flexbox-stretch {
  flex: 1;
}

.flexbox-col {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
